.Flight{
    margin-top: 100px;
    margin-bottom: 50px;
    border:1px solid purple;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    #Departure{
        width: 33.2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #Arrival{
        width: 33.2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #time{
        width: 33.2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}